.env

# Ignore Python bytecode files and cache directories
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
ENV/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor settings
.vscode/
.idea/

# Kaggle json api key
kaggle.json

# Ignore all expo files and directories
frontend_mobile/.expo/
.expo/